:root {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    padding:20px;
    display: flex;
    flex-flow: row;
    align-content: space-between;
    background-color: gainsboro;
}

.side-panel {
    margin: 10px;
    width: 40vmin;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

img {
    width: auto;
    height: 120px;
}

.logo {
    font-family: "Norse", Verdana Tahoma, sans-serif;
    text-align: center;
    font-size: 100px;
    /* left: 50px; */
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
}

.form-section {
    margin-right: 20px;
    padding-bottom: 10px;
}


label{
    display:flex;
    color: red;
}

input {
    border-radius: 4px;
    height: 25px;
    border-color: rgb(236, 236, 236);
    border-style: ridge;
}